@charset "UTF-8";

* {
    font-family:  Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg,  #F2D5A0, #F2AA6B );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6d4c3093;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #224459;
    text-align: center;
    text-shadow: 1px 1px 2px #0f1f2996;
}

h2 {
    color: #F27405;
}

p {
    text-align: justify;
}

